<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="vendor/autoload.php" colors="true">

    <testsuites>
        <testsuite name="Calendar">
            <directory>./lib/TimeMachine/Calendar/Tests</directory>
        </testsuite>

        <testsuite name="Time">
            <directory>./lib/TimeMachine/Time/Tests</directory>
        </testsuite>
    </testsuites>
</phpunit>